*{ 
    margin: 0px;
    padding: 0px;
    color: black;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #321365, #1d357f, #005093, #006aa0, #2783a9);
}
nav{
    width: 100px;
    height: 50vh;
    position: fixed;
    right: 0px;
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
nav ul li{
    width: 100%;
}
.menu-options{
    width: 150px;
    background-color: rgba(50, 19, 101, 0.8);
    color: rgba(211, 233, 243, 0.6);
    padding: 10px 0px 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s cubic-bezier(0.32, 0.71, 0.4, 0.79);;
}
.menu-options:hover {
   background-color: rgba(50, 19, 101, 0.7);
   color: rgba(211, 233, 243, 0.9);
    transform: translate(-50px, 0px);
}